{% extends "base.html" %}

{% block body %}
<h1>Drill2</h1>
<p><a href="{{ url_for('views.home_page') }}">&lt;&lt; home</a></p>

<form method="post">
  <label class="label" for="textarea-text">Question</label>
  <textarea id="textarea-text" name="text" required></textarea>
  <label class="label" for="textarea-answer">Answer</label>
  <textarea id="textarea-answer" name="answer" required></textarea>

  <input type="submit" value="Submit">
</form>
{% endblock %}

{% block head %}
<style>
  textarea {
    height: 200px;
  }
</style>
{% endblock %}